<div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" style="padding:30px 50px;">
        <div class="leftcontainer">
            <h2 class="font">For Servie, bring Simpatico to its home</h2>
            <p style="text-align: justify;">In an ever-changing world, our sense of purpose is constant. 
            We honor our legacy as we build the future, a better world for generations to come.
            Featuring new episodes each week, in which our hosts take you on exciting journeys 
            and talk about innovative technologies, lifestyle, design, cars and more. 
            Find and subscribe to Changing Lanes on all major podcasting platforms.</p>
            <button mat-raised-button class="mi-button">Learn More</button>
        </div>
        <div class="rightcontainer">
        <img src="./../../assets/images/home_page.jpg" style="max-width:95%;"/>
        </div>
        </div>
</div>
